.clicktoupdate{
    margin-top: 50px;
}

.mainDiv{
    display: flex;
    gap: 40px;
    width: 90%;
    border: 1px solid blue;
}

.leftDiv > div {
    background-color: rgb(114, 113, 113);
    color: white;
    width: 100%;
}

.leftDivItem {
    border-bottom: 1px solid grey(0, 0%, 2%);
    box-shadow: 0px 0px 10px 0px hsl(0, 0%, 4%);
    padding: 5px;
}

.rightDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    width: 50%;
}

.response{
    font-size: 40px;
}