.clicktoupdate{
    margin-top: 50px;
}

.main-div {
    display: flex;
    gap: 40px;
    width: 90%;
    border: 1px solid #00ff;
}

.left-div > div {
    background-color: #727171;
    color: white;
    width: 100%;
}

.left-div-item {
    border-bottom: 1px solid #050505;
    box-shadow: 0 0 10px 0 #0a0a0a;
    padding: 5px;
}

.right-div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00ff;
    width: 50%;
}

.response{
    font-size: 40px;
}