.clicktoupdate{
    margin-top: 50px;
}

.mainDiv {
    display: flex;
    gap: 40px;
    width: 90%;
    border: 1px solid #0000ff;
}

.leftDiv > div {
    background-color: #727171;
    color: white;
    width: 100%;
}

.leftDivItem {
    border-bottom: 1px solid #050505;
    box-shadow: 0px 0px 10px 0px #0a0a0a;
    padding: 5px;
}

.rightDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0000ff;
    width: 50%;
}

.response{
    font-size: 40px;
}